/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4e4ba;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
}

.container {
    width: 50%;
    margin: center;
    margin: 0 auto;
    padding: 100px;
    align-items: center;

   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: var(--primary);
    text-align: center;
}

.input-container {
    position: relative;
    max-width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--primary);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: var(--accent);
}




footer {
    margin-top: auto;
    
    color: var(--footer-text);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

footer a {
    color: var(--footer-link);
    text-decoration: none;
    font-weight: bold;
}



